*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Jupyter Notebook
_notebooks/.ipynb_checkpoints

# Python environment
env/

# VS Code
*.code-workspace

# Misc.
.DS_Store
__pycache__
# Local Netlify folder
.netlify
.tweet-cache